<p>
  Cousin Mosquito #2. Spoken, played, and sung by Malinda Jackson Parker, with a portion of the famous Rachmaninov Prelude in C-sharp Minor.
</p>

<p>
  He really was a genius. Rachmaninov died heartbroken because he had no money to publish his compositions. His brother would have published them, but was also bankrupt. Rachmaninov was never buried when he died, but was thrown out in the <span class="unsure">potter's [or "paupers'"?]</span> field. But his music lives forever. Centuries later, his music did not fade away and is now being played throughout the world. Among his great compositions, his Prelude in C-sharp Minor is my favorite selection.
</p>

<div class="lyrics">
Mosquito, mosquito!
Mosquito is no friend to man.
Mosquito has a sting of death,
and when he sing it <span class="unsure">is of death</span>,
Mosquito is no friend.

With African drums.

Mosquito <span class="unsure">is of </span>human blood.
Before he sting he always sing.

African drums.
Mosqui—, mosqui—, mosquito!
Mosquito!
Mosquito, mosquito!
</div>

<p>
  Avoid cousin mosquito and his solo. He has the sting of death. Always sing before he sting. Beware! Take my advice. Mosquito is no friend to man. When you're living in a tropical country or visiting—it's all the same—use DDT and destroy this wicked demon. Blood-sipping, sapping creature. Prevent this tiny creature from sapping all of your blood. Watch, pray, prevent, and save your little toe.
</p>

<div class="lyrics">
Mosquito!
Watch your little toe, mosquito,
is of human blood, watch your little toe,
and when you're in a warm climate.

Mosquito <span class="unsure">is of</span> human blood.
Beware!

Mosquito!
Cousin, cousin, cousin…
Mosquito!
Watch your little toe! Mosquito.
</div>
