---
title: "Cousin Mosquito #2"
---

%h3= current_page.data.title

%br/

.well
  Parker begins with a fanciful biography of Rachmaninov (alternately pronounced /RAD-uh-<b>MAN</b>-ahf/ and /RAD-uh-<b>MA</b>-ni-nahf/). Her account has Rachmaninov's music being played "centuries later" (Rachmaninov died in 1943). Far from being unknown, Rachmaninov #{link_to "was a highly successful Russian composer, an unrivaled pianist, and a distinguished conductor", "http://www.bookrags.com/biography/sergei-vasilievich-rachmaninov/"}. But what "Cousin Mosquito #2" lacks in historical accuracy it more than makes up in panache. Who but Parker would have thought to combine Rachmaninov's Prelude in C-sharp Minor, an improvised keyboard approximation of African drums, and a public-health message?

= partial "lyrics"

%hr/

%p Listen to "Cousin Mosquito #2" on #{link_to "YouTube", "http://www.youtube.com/watch?v=QHeeYDwYqZs"}.
