---
title: "Precious Palm Tree"
---

%h3 Precious Palm Tree

%br/

.well If the mosquito is Africa's worst scourge, the palm tree, at least according to Parker, is the continent's greatest blessing. This ode to that "stately, loving, charming, gracious, and marvelous" plant comprises two sections, the first spoken and the second sung. The second, seemingly superflous, identification of the work (3:56) demarcates this second section.

= partial "lyrics"
