---
title: "Cousin Mosquito #1"
---

%h3= current_page.data.title

%br/

.well
  "Cousin Mosquito #1" is the first of a pair of songs concerning the dangers of "that tiny insect." Parker depicts the mosquito's "solo" in both the piano (1:32) and the incessant "cousin" refrain. The mosquito is vilified ("he has the sting of death"), but also personified ("Mr. Mosquito," "brother mosquito," and, of course, "cousin mosquito"). This contradictory balance between sympathy and demonization contributes to the appeal of "Cousin Mosquito #1," deservedly Parker's most popular work.

%p My  friends, lend me your ears: I have a story to tell about Mr. Mosquito. Now when you're in the tropics, beware of that tiny insect called "mosquito." Everyone is cousin to him. Take no chances with brother mosquito. He has the sting of death! When he sings a solo, no one likes to hear. But before he sting—sting, he sings, and that sting is the sting of death, yes, it's the sting of death. So beware, beware of cousin, of mosquito, whenever you hear cousin mosquito.

%p Cousin, cousin, cousin…

%p
  Beware of cousin mosquito and his solo. Take no chances, for cousin mosquito saps all of your blood and send you to your grave before time. So take my advice: Avoid cousin mosquito and his solo!

%p Cousin, cousin, cousin…

%p Mosquito, mosquito, mosquito is dangerous; avoid cousin, cousin, cousin mosquito and his solo!

%p Cousin, cousin, cousin…

%hr/

%p Listen to "Cousin Mosquito #1" on #{link_to "YouTube", "http://www.youtube.com/watch?v=QHeeYDwYqZs"}.
