---
title: No Bananas
---

<h3><%= current_page.data.title%></h2>

<br/>

<div class="well">
  "No Bananas" is the only popular song covered by Parker. Despite calling the song "Bananas," Parker follows the original lyrics closely. Parker takes a slower pace than that of most other artists. After repeating the chorus ad nauseam, she gives the piece a distinctive "shave and a haircut" ending.
</div>

<p>
  Song: "Bananas." Played and sung by Congress-Woman Jackson Parker, dedicated to <span class="unsure">Tubman</span>.
</p>

<div class="lyrics">
There's a fruit store on our street
and is run by Greek
and he keeps good things, you bet.
But you should hear him speak.

When you ask him anything
he never answers "no,"
he just "yes"es you to death
and then he takes your dough.

"Yes, we have no bananas,
we have no bananas today!
We've string beans and onions,
cabbages and scallions,
and all kinds of fruits, and say:
We have that old-fashioned tomato,
Long Island potato.
But yes, we have no bananas,
we have no bananas today.
Yes, we have no bananas,
we have no bananas today.
We've string beans and onions,
cabbages and scallions,
and all kinds of fruits and say.
We have that old-fashioned tomato,
Long Island potato.
But yes, we have no banana,
we have no bananas today."

Business got so good with him
he wrote home to say
"Send me Pete and Nick and Jim;
I need help right away."

When he got them in the store,
there was fun you bet.
Someone asked for <a href="http://www.thefreedictionary.com/sparrowgrass">sparrow grass</a>
and then the whole quartet:

"Yes, we have no bananas,
we have no bananas today.
String beans and onions,
cabbages and scallions,
and all kinds of fruits, and say:
We have that old-fashioned tomato,
Long Island potatoes.
But yes, we have no banana,
we have no bananas today.

"Yes, we have no banana,
we have no bananas today.
String beans and onions,
cabbages and scallions,
and all kinds of fruits and say.
We have that old-fashioned tomato,
Long Island potatoes.
But yes, we have no banana,
we have no bananas today.

"Yes, we have no bananas,
we have no bananas today.
String beans and onions,
cabbages and scallions,
and all kinds of fruits and say.
We have that old-fashioned tomato,
Long Island potatoes.
But yes, we have no banana,
we have no bananas today."
</div>
