---
title: "Bush Cow Milk"
---

%h3= current_page.data.title

%br/

.well
  Howard Benedict Hayes, to whom Parker dedicates this song, was |
  "<a href="http://unesdoc.unesco.org/images/0013/001341/134147fo.pdf">a musical genius, a great songwriter and performer, though blind from birth.</a>" |
  According to <a href="http://mw4.m-w.com/dictionary/bush%20cow">Merriam-Webster's online dictionary</a> |
  a bush cow is either a short-horned buffalo of West Africa (<i>Syncerus nanus</i>) or a tapir.

= partial "lyrics"
