---
title: Errors in the Alfred Edition of Grieg's Piano Sonata, Op. 7
---

%h3= current_page.data.title

%br/

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Measure
      %th Description
  %tbody
    %tr
      %td{colspan: "2"} I. Allegro moderato
    %tr
      %td 3
      %td The rhythm in the second beat in the right hand should be dotted-eight, sixteenth.
    /
      <tr>
      <td>62</td>
      <td>The second beat should be quarter, eighth, sixteenth rest, sixteenth note.</td>
      </tr>
    %tr
      %td 94
      %td The last note in the left hand should be an eighth note.
    %tr
      %td 99
      %td On the last beat, there should be an eighth rest in the bottom voice of the left hand after the quarter note.
    %tr
      %td 213
      %td The first chord in the right hand should have an E at the bottom (i.e., add an E an octave below the one that's printed)
    %tr
      %td{colspan: "2"} II. Andante molto
    %tr
      %td 32
      %td On the third beat in the right hand, a sixteenth note should precede the five sixteenth notes.
    %tr
      %td{colspan: "2"} III. Alla menuetto, ma poco più lento
    %tr
      %td 48
      %td The bottom note in the right hand on beat 1 should be a G sharp, not an A.
    %tr
      %td 75
      %td On beat 1 in the right hand, the third triplet should be a G, not an F sharp.
    %tr
      %td{colspan: "2"} IV. Molto allegro
    %tr
      %td 74
      %td On beat 2 in the right hand, there should be a quarter-note octave on D (the lower note of which being immediately above middle C).
    %tr
      %td 94
      %td
        The <em>fp</em> should be first beat of the measure, not the second.
    %tr
      %td 210
      %td On beat 1 of the right hand, there should be an E below the A.
    %tr
      %td 293
      %td
        The <em>fp</em> should be first beat of the measure, not the second.
    %tr
      %td 335
      %td The third G sharp in the right hand should be an E.

%p
  Please #{mail_to "pbrinichlanglois@gmail.com", "e-mail me"} any additional errors, and I'll add them to the list.
