---
title: "About"
---


.container-fluid
  .row
    .col-sm-8
      .media
        .media-left
          %img.img-rounded.media-object(src="https://en.gravatar.com/userimage/51999685/84c951a7428bc62a90bd53392cb2fc52.jpg?size=100")
        .media-body
          Hi! I'm Patrick. I'm a software developer in the San Francisco Bay Area. I'm also part of the #{link_to "effective-altruist movement", "http://www.effectivealtruism.org/"}, which aims to improve the world in the most effective ways possible. You can contact me at #{mail_to "pbrinichlanglois@gmail.com"}.
