---
title: "About"
---

.media{style: "max-width: 500px"}
  .media-left
    %img.img-rounded.media-object(src="https://res.cloudinary.com/patbl/image/upload/c_scale,q_100,w_200/v1527571606/patrick_in_a_suit.jpg")
  .media-body
    %p Hi! I'm Patrick. I'm a software developer in the San Francisco Bay Area.
    %p I'm part of the #{link_to "effective-altruist movement", "http://www.effectivealtruism.org/"}, |
      which aims to improve the world in the most effective ways possible. If you're into this sort of |
      thing, check out #{link_to("EARadio", "https://earad.io/")}, my podcast that aggregates talks |
      related to effective altruism. |
